# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ new-handover ]
  pull_request:
    branches: [ new-handover ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Enable only the mmwave module to speedup the test
    - name: build and run the tests
      run: ./ns3 configure --enable-examples --enable-tests --enable-modules=mmwave,internet-apps && ./ns3 build && ./test.py
